:root {
    --color-darkest: #343a40;
    --color-dark: #495057;
    --color-medium: #ced4da;
    --color-light: #f1f3f5;

    --color-theme: #1098ad;
    --color-accent: #ffa94d;
}

.btn {
    display: block;
    font-family: inherit;
    color: inherit;
    font-size: 1.1rem;
    /* Equivalent to text-lg in Tailwind */
    border: 2px solid var(--color-dark);
    background-color: var(--color-dark);
    padding: 0.5rem 1rem;
    /* Equivalent to py-2 px-4 in Tailwind */
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
}

.btn:not([disabled]):hover {
    background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
    transform: translateX(1.2rem);
}

.app-header .btn[disabled]:hover {
    cursor: not-allowed;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1.75rem;
}

.btn-option {
    width: 100%;
    text-align: left;
}

.btn-option.correct {
    background-color: var(--color-theme);
    border: 2px solid var(--color-theme);
    color: var(--color-light);
}

.btn-option.wrong {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    color: var(--color-darkest);
}

.answer {
    transform: translateX(2rem);
}

/* For larger screens, apply different font sizes and spacing */
@media (min-width: 768px) {
    .btn {
        font-size: 1.3rem;
        /* Equivalent to text-xl in Tailwind */
        padding: 0.7rem 1.75rem;
        /* Equivalent to py-3 px-6 in Tailwind */
    }

    .options {
        gap: 1.3rem;
        /* Equivalent to gap-6 in Tailwind */
        margin-bottom: 4rem;
        /* Equivalent to mb-16 in Tailwind */
    }
}